<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Message Detail</h1>
    <div class="messDetail">
      <h2 class="userDetail">User: <%= message.user %></h2>
      <div class="textDetail">Text: <%= message.text %></div>
      <div class="dateDetail">Date: <%= message.added %></div>
      <a href="/">Back To the Message</a>
    </div>
  </body>
</html>
